.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1.5fr 6fr;
    grid-template-rows: 0.4fr 4fr 0.4fr;
    grid-template-areas:
          "nav nav "
           "side cat"
           "side footer";
    

}
nav{
    background:rgb(89, 89, 89);
    grid-area: nav;
    overflow: hidden;
}
nav .dropdown, a{
    color: #fff;
    text-decoration:none;
    display: inline-block;
    text-align: center;
    align-items: center;
    align-content: center;
    padding: 8px 15px;
    line-height: 20px;
    font-size: 17px;

}
a:hover{
    background: rgba(238, 237, 237, 0.915);
}
.sidebar{
    background:#a8d;
    grid-area: side;
}
.catalog{
    background:#445;
    grid-area: cat;
}
footer{
    background:#888;
    grid-area: footer;
}
@media only screen and (max-width:480px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 6fr 1.2fr 0.6fr;
        grid-template-areas:
              "nav"
               "cat"
               "side"
               "footer";
        

    }
}
.dropdown .dropbtn{
    font-size: 17px;
    border: none;
    outline: none;
    color: #fff;
    background-color: none;
    font-family: inherit;
  
} 
.dropdown-content{
    display: none;
    background: #fff;
    color: #000;
    padding: 0 8px;
    z-index: 1;
    position: absolute;
    width:6em;

}
.dropdown-content a{
    color: #000;
    text-decoration: none;
    display: block;
}
.dropdown .dropbtn:hover, .dropdown .dropdown-content a:hover{
    background: rgba(186, 186, 186, 0.915);
    
} 
 nav .dropdown:hover .dropdown-content {
    display: block;
  }

